# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Build & Venv
dist/
.venv/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.coverage.*
.cache
coverage.xml
*.cover
*.py,cover
.pytest_cache/
cover/
tests/_test_artifacts/

# Logs
temp/
logs/
*.log

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# My python
my_node/**/*
!my_node/__init__.py
!my_node/
