@keyframes highlighted {
  from {
    background-color: rgba(148, 228, 247, 0.3);
  }
  to {
    background-color: transparent;
  }
}

#rlab-main.dark .scene-tooltip {
  color: #fff;
}

#rlab-main.light .scene-tooltip {
  color: #000;
}
